<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.info.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="off">
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.info.themeColor %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.info.description %>">

  <meta name="msapplication-TileColor" content="<%= htmlWebpackPlugin.options.info.themeColor %>">
  <meta name="msapplication-TileImage" content="<%= require('assets/icons/ms-icon-144x144.png') %>">

  <link rel="apple-touch-icon" sizes="57x57" href="<%= require('assets/icons/apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= require('assets/icons/apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= require('assets/icons/apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= require('assets/icons/apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= require('assets/icons/apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= require('assets/icons/apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= require('assets/icons/apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= require('assets/icons/apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('assets/icons/apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= require('assets/icons/android-icon-192x192.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('assets/icons/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= require('assets/icons/favicon-96x96.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('assets/icons/favicon-16x16.png') %>">
  <link rel="icon" href="<%= require('assets/icons/favicon.ico') %>">
  <link rel="manifest" href="manifest.json">

  <% if (htmlWebpackPlugin.options.info.gAnalyticsID) { %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.info.gAnalyticsID %>">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '<%= htmlWebpackPlugin.options.info.gAnalyticsID %>');
  </script>
  <% } %>

  <style type="text/css">
    <%= require('assets/style.css') %>
  </style>
</head>

<body>
  <div id="game"></div>
  <div id="splash">
    Loading...
  </div>
  <noscript>
    <div id="noscript">Enable Javascript to play this game</div>
  </noscript>
</body>

</html>
