@font-face {
    font-family: 'main';
    font-display: swap;
    src: url('fonts/pixel-emulator.woff2') format('woff2'),
         url('fonts/pixel-emulator.woff') format('woff');
}

html,
body,
#game,
#splash {
    height: 100%;
    font-size: 24px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'main', sans-serif;
}

#splash,
noscript {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #FFF;
    line-height: 1.5em;
}
